@use '../../../../colors' as *;

.first-content_container {
    .content-container {
        .content-wrapper {
            .inner-content_container {
                margin-bottom: 40px;;
                .box {
                }
                .item {
                    .img_box {
                        svg {
                            width: 50% !important;
                            height: 100% !important;   
                        }
                    }
                }
            }
        }
    }
}
