<ng-container>
@if(currentUrl() === '/home') {
<section class="skills_section container mt-5">
    <div class="row">
        <div class="col-md-12 text-color_white">
            <section class="title_container ">
                <div class="row">
                    <div class="col-md-12 position-relative">
                        <h2 class="position-relative m-0 title">
                            <span class="d-inline-block mark_color">#</span>
                            <span class="d-inline-block text-color_white">Skills</span>
                        </h2>
                        <span class="d-inline-block position-absolute text-color_white view_all">
                            <app-re-button 
                                [buttonHref]="skillsContent().skillsUrl"
                                [buttonText]="skillsContent().skillsButtonText"
                                [buttonIcon]="'~~>'"
                                [buttonAriaLabel]="'all skills'"
                                [buttonClass]="'text_btn'"
                            ></app-re-button>
                        </span>
                    </div>
                </div>
            </section>
            <section class="skills_container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="item mb-5 h-100">
                            <div class="img_box">
                                <!-- <img src="{{skillsImg()}}" alt="skills"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                        <div class="skills_box">
                                <div class="skills_grid">
                                    @for (skillItem of skills(); track skillItem.id) {

                                        <article class="skill_card text-color_white">
                                            <div class="item h-100">
                                                <div class="item_title p-3 skill_heading">
                                                    <app-skill-icon [name]="skillItem.name" />
                                                    <p class="m-0 p-0 text-color_white">{{ skillItem.name }}</p>
                                                </div>
                                                <div class="item_content p-3">
                                                    <dl class="skill_meta m-0">
                                                        <div>
                                                            <dt>Category</dt>
                                                            <dd>{{ skillItem.category }}</dd>
                                                        </div>
                                                        <div>
                                                            <dt>Type</dt>
                                                            <dd>{{ skillItem.type }}</dd>
                                                        </div>
                                                        <div>
                                                            <dt>Level</dt>
                                                            <dd>{{ skillItem.level }}</dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                            </div>
                                        </article>

                                    }
                                </div>
                                @if (skillsError(); as error) {
                                    <p class="text-color_white">{{ error }}</p>
                                }
                        </div>
                    </div>
                </div>
            </section>
        </div> 
    </div>
</section>
}
</ng-container>


<ng-container>
@if(currentUrl() === '/all-skills') {
<section class="skills_section_2 container mt-5">
    <div class="row mb-4">
        <div class="col-lg-12 col-md-12">
            <app-re-button
                [buttonHref]="herfPreventDefault"
                [buttonText]="'Back'"
                [buttonIcon]="'<~'"
                (buttonClick)="goBack()"     
                (keydown.enter)="goBack()"                           
            >
            </app-re-button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="skills_box">
                                <div class="skills_grid">
                                    @for (skillItem of skills(); track skillItem.id) {

                                        <article class="skill_card text-color_white">
                                            <div class="item h-100">
                                                <div class="item_title p-3 skill_heading">
                                                    <app-skill-icon [name]="skillItem.name" />
                                                    <p class="m-0 p-0 text-color_white">{{ skillItem.name }}</p>
                                                </div>
                                                <div class="item_content p-3">
                                                    <dl class="skill_meta m-0">
                                                        <div>
                                                            <dt>Category</dt>
                                                            <dd>{{ skillItem.category }}</dd>
                                                        </div>
                                                        <div>
                                                            <dt>Type</dt>
                                                            <dd>{{ skillItem.type }}</dd>
                                                        </div>
                                                        <div>
                                                            <dt>Level</dt>
                                                            <dd>{{ skillItem.level }}</dd>
                                                        </div>
                                                    </dl>
                                                </div>
                                            </div>
                                        </article>

                                    }
                                </div>
                                @if (skillsError(); as error) {
                                    <p class="text-color_white">{{ error }}</p>
                                }
                        </div>
        </div>
    </div>
</section>
}
</ng-container>


