@use '../../../../colors' as *;

.live_btn {
    padding: 8px 12px;
    border: 1px solid $primary-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $primary-color;
        color: $white-color !important;
    }
}
.more_btn {
    padding: 8px 12px;
    border: 1px solid $primary-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $primary-color;
        color: $white-color !important;
    }
}
.text_btn {
    padding: 0px;
    border: 0px solid $primary-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: transparent;
        color: $primary-color !important;
    }
}
