<section class="single_project container mt-5 text-color_white">
    @if (project(); as item) {
        <div class="row mb-4">
            <div class="col-lg-12 col-md-12">
                <app-re-button
                    [buttonHref]="herfPreventDefault"
                    [buttonText]="'Back'"
                    [buttonIcon]="'<~'"
                    (buttonClick)="goBack()"     
                    (keydown.enter)="goBack()"                           
                >
                </app-re-button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="img_box">
                    <img class="project_image w-100 mb-4" 
                         [src]="item.imgUrl" 
                         alt="{{item.name}}"
                    >
                </div>
                <h1 class="mb-3">{{ item.name }}</h1>
                <p class="text-color_gray mb-3">{{ item.description }}</p>
                <p class="mb-2"><strong>Category:</strong> {{ item.category }}</p>
                <p class="mb-2"><strong>Stack:</strong> {{ item.stack }}</p>
                <p class="d-flex flex-row gap-2 align-items-center justify-content-start mb-4"><strong>Skills:</strong>  
                    @for(skill of item.skills; track $index; let last = $last) {
                        <span class="d-inline-block text-color_gray">
                            
                            @switch (skill) {
                                @case ('HTML5') {
                                    <svg width="18px" height="18px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"/>
                                        <path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"/>
                                        <path d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z" fill="white"/>
                                    </svg>
                                }
                                @case ('CSS3') {
                                    <svg width="18px" height="18px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#1172B8"/>
                                        <path d="M26 5H16V29.5L24 27L26 5Z" fill="#33AADD"/>
                                        <path d="M19.5 17.5H9.5L9 14L17 11.5H9L8.5 8.5H24L23.5 12L17 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5Z" fill="white"/>
                                    </svg> 
                                }
                                @case ('JS') {
                                    <svg width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <rect width="24" height="24" fill="#F1DC50"/>
                                            <path stroke="#333" stroke-width="2" d="M12,11 C12,15.749205 12,18.4158717 12,19 C12,19.8761925 11.4771235,21 10,21 C7.61461794,21 7.5,19 7.5,19 M20.7899648,13.51604 C20.1898831,12.5053467 19.3944074,12 18.4035378,12 C16.8563489,12 16,13 16,14 C16,15 16.5,16 18.5084196,16.5 C19.7864643,16.8181718 21,17.5 21,19 C21,20.5 19.6845401,21 18.5,21 C16.9861609,21 15.9861609,20.3333333 15.5,19"/>
                                        </g>
                                    </svg>
                                }
                                @case ('jQuery') {
                                    <svg width="18px" height="18px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="16" cy="16" r="14" fill="#0769AD"/>
                                        <path d="M22.6573 13.4211C23.9143 13.4211 25.0652 13.0019 25.955 12.3066C25.0312 13.5238 23.5007 14.3196 21.7689 14.3196C18.9477 14.3196 16.6607 12.2077 16.6607 9.60256C16.6607 8.1581 17.3638 6.86527 18.4712 6C17.8901 6.76568 17.5491 7.6981 17.5491 8.70407C17.5491 11.3092 19.8361 13.4211 22.6573 13.4211Z" fill="#78CFF5"/>
                                        <path d="M25.9064 16.6586C24.5512 17.7216 22.7968 18.3628 20.8805 18.3628C16.5874 18.3628 13.1071 15.1447 13.1071 11.1749C13.1071 9.63522 13.6307 8.20859 14.5221 7.03894C12.8413 8.35742 11.7745 10.3248 11.7745 12.5226C11.7745 16.4924 15.2548 19.7106 19.5479 19.7106C22.176 19.7106 24.4994 18.5047 25.9064 16.6586Z" fill="#78CFF5"/>
                                        <path d="M26 20.7701C24.0689 22.6129 21.3937 23.7538 18.4375 23.7538C12.5497 23.7538 7.77678 19.2283 7.77678 13.6458C7.77678 11.8768 8.25603 10.214 9.09813 8.76767C7.18322 10.595 6 13.1125 6 15.892C6 21.4745 10.7729 26 16.6607 26C20.6827 26 24.1846 23.8881 26 20.7701Z" fill="#78CFF5"/>
                                    </svg>
                                }
                                @case ('PHP') {
                                    <svg width="18px" height="18px" viewBox="0 -60.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                                        <defs>
                                            <radialGradient id="radialGradient-1" cx="0.8366" cy="-125.811" r="363.0565" gradientTransform="matrix(0.463 0 0 0.463 76.4644 81.9182)" gradientUnits="userSpaceOnUse">
                                                <stop offset="0" style="stop-color:#FFFFFF"/>
                                                <stop offset="0.5" style="stop-color:#4C6B97"/>
                                                <stop offset="1" style="stop-color:#231F20"/>
                                            </radialGradient>
                                        </defs>
                                        <g>
                                            <ellipse fill="url(#radialGradient-1)" cx="128" cy="67.3" rx="128" ry="67.3"/>
                                            <ellipse fill="#6181B6" cx="128" cy="67.3" rx="123" ry="62.3"/>
                                            <g>
                                                <path fill="#FFFFFF" d="M152.9,87.5c0,0,6.1-31.4,6.1-31.4c1.4-7.1,0.2-12.4-3.4-15.7c-3.5-3.2-9.5-4.8-18.3-4.8h-10.6l3-15.6
                                                    c0.1-0.6,0-1.2-0.4-1.7c-0.4-0.5-0.9-0.7-1.5-0.7h-14.6c-1,0-1.8,0.7-2,1.6l-6.5,33.3c-0.6-3.8-2-7-4.4-9.6
                                                    c-4.3-4.9-11-7.4-20.1-7.4H52.1c-1,0-1.8,0.7-2,1.6L37,104.7c-0.1,0.6,0,1.2,0.4,1.7c0.4,0.5,0.9,0.7,1.5,0.7h14.7
                                                    c1,0,1.8-0.7,2-1.6l3.2-16.3h10.9c5.7,0,10.6-0.6,14.3-1.8c3.9-1.3,7.4-3.4,10.5-6.3c2.5-2.3,4.6-4.9,6.2-7.7l-2.6,13.5
                                                    c-0.1,0.6,0,1.2,0.4,1.7s0.9,0.7,1.5,0.7h14.6c1,0,1.8-0.7,2-1.6l7.2-37h10c4.3,0,5.5,0.8,5.9,1.2c0.3,0.3,0.9,1.5,0.2,5.2
                                                    l-5.8,29.9c-0.1,0.6,0,1.2,0.4,1.7c0.4,0.5,0.9,0.7,1.5,0.7H151C151.9,89.1,152.7,88.4,152.9,87.5z M85.3,61.5
                                                    c-0.9,4.7-2.6,8.1-5.1,10c-2.5,1.9-6.6,2.9-12,2.9h-6.5l4.7-24.2h8.4c6.2,0,8.7,1.3,9.7,2.4C85.8,54.2,86.1,57.3,85.3,61.5z"/>
                                                <path fill="#FFFFFF" d="M215.3,42.9c-4.3-4.9-11-7.4-20.1-7.4h-28.3c-1,0-1.8,0.7-2,1.6l-13.1,67.5c-0.1,0.6,0,1.2,0.4,1.7
                                                    c0.4,0.5,0.9,0.7,1.5,0.7h14.7c1,0,1.8-0.7,2-1.6l3.2-16.3h10.9c5.7,0,10.6-0.6,14.3-1.8c3.9-1.3,7.4-3.4,10.5-6.3
                                                    c2.6-2.4,4.8-5.1,6.4-8c1.6-2.9,2.8-6.1,3.5-9.6C220.9,54.7,219.6,47.9,215.3,42.9z M200,61.5c-0.9,4.7-2.6,8.1-5.1,10
                                                    c-2.5,1.9-6.6,2.9-12,2.9h-6.5l4.7-24.2h8.4c6.2,0,8.7,1.3,9.7,2.4C200.6,54.2,200.9,57.3,200,61.5z"/>
                                            </g>
                                            <g>
                                                <path fill="#000004" d="M74.8,48.2c5.6,0,9.3,1,11.2,3.1c1.9,2.1,2.3,5.6,1.3,10.6c-1,5.2-3,9-5.9,11.2c-2.9,2.2-7.3,3.3-13.2,3.3
                                                    h-8.9l5.5-28.2H74.8z M39,105h14.7l3.5-17.9h12.6c5.6,0,10.1-0.6,13.7-1.8c3.6-1.2,6.8-3.1,9.8-5.9c2.5-2.3,4.5-4.8,6-7.5
                                                    c1.5-2.7,2.6-5.7,3.2-9c1.6-8,0.4-14.2-3.5-18.7c-3.9-4.5-10.1-6.7-18.6-6.7H52.1L39,105z"/>
                                                <path fill="#000004" d="M113.3,19.6h14.6l-3.5,17.9h13c8.2,0,13.8,1.4,16.9,4.3c3.1,2.9,4,7.5,2.8,13.9L151,87.1h-14.8l5.8-29.9
                                                    c0.7-3.4,0.4-5.7-0.7-6.9c-1.1-1.2-3.6-1.9-7.3-1.9h-11.7l-7.5,38.7h-14.6L113.3,19.6z"/>
                                                <path fill="#000004" d="M189.5,48.2c5.6,0,9.3,1,11.2,3.1c1.9,2.1,2.3,5.6,1.3,10.6c-1,5.2-3,9-5.9,11.2c-2.9,2.2-7.3,3.3-13.2,3.3
                                                    h-8.9l5.5-28.2H189.5z M153.7,105h14.7l3.5-17.9h12.6c5.6,0,10.1-0.6,13.7-1.8c3.6-1.2,6.8-3.1,9.8-5.9c2.5-2.3,4.5-4.8,6-7.5
                                                    c1.5-2.7,2.6-5.7,3.2-9c1.6-8,0.4-14.2-3.5-18.7c-3.9-4.5-10.1-6.7-18.6-6.7h-28.3L153.7,105z"/>
                                            </g>
                                        </g>
                                    </svg>
                                }

                                @default {
                                    ❌
                                }
                            }
                            <span class="d-inline-block ms-1 text-color_gray">{{skill}}@if (!last) {, }</span>
                        </span>
                    }
                </p>

                @if (item.liveFlag) {
                    <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                        <a [href]="item.liveUrl" class="live_btn text-color_white d-inline-block" target="_blank" rel="noreferrer">Visit Live <~></a>
                        <a routerLink="/all-projects" class="live_btn text-color_white d-inline-block">Visit all projects <~></a>
                    </div>
                }
            </div>
        </div>
    } @else {
        <div class="row">
            <div class="col-lg-12">
                <p class="text-color_gray mb-4">Project not found.</p>
                <a routerLink="/all-projects" class="back_link text-color_white">Back to all projects</a>
            </div>
        </div>
    }
</section>
