app-skill-icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.project_image {
    display: block;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
    margin-bottom: -1px;
    transition: all 4s ease-in-out;
    &:hover {
        object-position: bottom;
    }
}

.live_btn,
.back_link {
    padding: 10px 16px;
    border: 1px solid var(--color-primary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--color-primary-hover);
        color: var(--color-background) !important;
    }
}
