.projects_section {
    .title_container {
        .title {
            &::before {
                content: "";
                position: absolute;
                top: 22px;
                left: 190px;
                width: calc(100% - 690px);
                height: 1px;
                background-color: var(--color-primary);
            }
        }
        .view_all {
            top: 8px;
            right: 13px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            a {
                text-decoration: none;
                color: var(--color-text) !important;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: var(--color-primary-hover) !important;
                }
            }

        }
        margin-bottom: 40px;
    }
    .projects_container {
        app-project-card {
            display: block;
            width: 100% !important;
            height: 100% !important;
        }
    }
}
