.item {
    border: 1px solid var(--color-border);
    height: 100% !important;
    .img_box {
        border-bottom: 1px solid var(--color-border);
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            object-position: top;
            margin-bottom: -1px;
            transition: all 4s ease-in-out;
        }
    }
    .item_content {
        .skills {
            min-height: 85px;
            border-bottom: 1px solid var(--color-border);
        }
        .item_controls {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-top: 20px !important;
        }
        .title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            padding-bottom: 0px !important;
            margin-bottom: 15px !important;
        }
        .description {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            text-overflow: ellipsis;
            padding-bottom: 0px !important;
        }
    }
    &:hover {
        .img_box {
            img {
                object-position: bottom;
            }
        }
    }
}
