<div class="item mb-5">
    <div class="img_box">
        <img [src]="projectImageUrl()" alt="{{ projectImageAlt() }}">
    </div>
    <div class="item_content">
        <div class="skills p-3 d-flex flex-wrap">
            @for (skill of projectSkills(); track skill; let last = $last) {
                <span class="d-flex align-items-center justify-content-center text-color_gray">
                    <app-skill-icon [name]="skill"></app-skill-icon>
                    <span class="d-inline-block ms-1 text-color_gray">{{ skill }}@if (!last) {, }</span>
                </span>
            }
        </div>
        <p class="tag text-color_gray p-3 m-0 pb-0">
            Stack: {{ projectStack() }}
            @if (projectCategory() === 'Website' && projectStack() === 'WordPress') {
                & Toolset
            }
        </p>
        <h4 class="title text-color_white p-3 m-0" title="{{ projectName() }}">{{ projectName() }}</h4>
        <p class="description text-color_gray p-3 m-0 pt-0">{{ projectDescription() }}</p>
        <div class="item_controls p-3">
            @if (projectLiveFlag()) {
                <app-re-button
                    [buttonHref]="projectLiveUrl()"
                    [buttonText]="'Live'"
                    [buttonIcon]="'<~>'"
                    [buttonAriaLabel]="projectName()"
                    [buttonTarget]="'_blank'"
                ></app-re-button>
            }
            <app-re-button
                [buttonHref]="'/project/' + projectId()"
                [buttonText]="'More'"
                [buttonIcon]="'<~>'"
                [buttonAriaLabel]="projectName()"
            ></app-re-button>
        </div>
    </div>
</div>
