@import '../../../../colors';

.footer {
    margin-top: 40px;
    .footer-container {
        position: relative;
        padding-bottom: 20px;
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 12px;
            height: 20px;
            width: calc(100% - 24px);
            background-color: $primary-color;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 12px;
            height: 1px;
            width: calc(100% - 24px);
            background-color: $grey-color;
        }
    }
    
    .info_box {
        img.logo {
            width: 70px;
            filter: invert(100%) !important;
        }
    }
    .nav_box {
        margin-left: 100px !important;
        margin-top: 50px;
    }
    .contact_box {

    }
}