@import '../../../colors';

.footer {
    border-top: 1px solid $grey-color;
    .info_box {
        img.logo {
            width: 70px;
            filter: invert(100%) !important;
        }
    }
    .nav_box {
        margin-left: 100px !important;
        margin-top: 50px;
    }
    .contact_box {
        .inquire_btn {
            padding: 8px 12px;
            border: 1px solid $primary-color;
            text-decoration: none;
            border-radius: 0px !important;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: $primary-color;
                color: $white-color !important;
            }
        }
    }
}